<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="students">
            <% data.forEach(data => { %>
                <div class="student">
                    <a href="http://localhost:3000/students/<%= data.id%>"><%= data.fname %> <%= data.lname %> <%= data.img_url %></a>
                    <br>
                    <a href="http://localhost:3000/houses/<%= data.house_id%>"><%= data.house_name %></a>
                </div>
            <% }) %>
        </div>
    </body>

</html>
