<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="student-container">
            <span><%= data.id %></span>
            <span><%= data.fname %></span>
            <span><%= data.lname %></span>
            <img src= "<%= data.image %>"/>
            <span><%= data.house_name %></span>
            <img src= "<%= data.img_url %>"/>
        </div>

        <a href="/quotes/<%= data.id %>/edit">Edit student</a>
    </body>
</html>
